button {
  color: black;
  background-color: #eee;
  width:90px;
  height:90px;
  font-size: 20px;
  margin-left: 130px;
  margin-top: 40px;
}

input {
  color: black;
  margin-top: 3px;
  background-color: #eee;
  width: 250px;
}

span {
  margin-right: 10px;
}
