form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, th, td {
  border: 1px solid black;
}
table {
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #1167b1;
}
tr:nth-child(even) {
  background-color: #2a9df4;
}
body {
  background-color: #d0efff;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h2 {
  padding-left: 25px;
}
h1 {
  padding-top: 30px;
  padding-left: 25px;
}

button {
  color: black;
  background-color: #2a9df4;
  margin-top: 20px;
  width: 90px;
  height: 90px;
  font-size: 20px;
  border-radius: 20px;
  font-size: 20px;
}

input {
  color: black;
  margin-top: 3px;
  background-color: #eee;
  width: 250px;
}
input[type="date"] {
  color: black;
  margin-top: 3px;
  background-color: #eee;
  margin-left: 35px;
  width: 260px;
  height: 90px;
  border-radius: 25px;
}

span {
  margin-right: 10px;
}

